:root {
  --black: #252525;
  --white: #efefed;
  --blue: #63b0b8;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(99, 176, 184, 0.3);
}
h1 {
  align-items: center;
  justify-content: center;
}
