:root {
  --black: #252525;
  --white: #efefed;
  --blue: #63b0b8;
  --darkblue: rgba(0, 123, 136, 0.7);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(99, 176, 184, 0.5);
  background-image: url("./images/large-triangles.svg");
}
h1 {
  align-items: center;
  justify-content: center;
}
