* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 15px 30px;
  background-color: var(--blue);
  box-shadow: 0 5px 15px rgba(55, 55, 55, 1);
  color: var(--black);
  user-select: none;
  font-family: Optima, sans-serif;
  z-index: 20;
}
nav img {
  position: relative;
  height: 50px;
  z-index: 1;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  position: relative;
  list-style: none;
}
nav ul li .active,
nav ul li a:hover {
  border: 3px solid;
  border-radius: 30px;
  transition: border 0.7s ease-in-out;
}
nav ul li .active:hover {
  border: 3px solid var(--white);
}
nav ul li a {
  position: relative;
  display: flex;
  margin: 0 12px;
  text-decoration: none;
  color: #333;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 30px;
  transition: 0.6s;
}
nav ul.active {
  opacity: 1;
  height: 100vh;
  width: 100%;
  top: -49px;
  transition: 0.7s;
}
nav .fa-globe {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  margin-left: 10px;
}
nav .fa-globe:hover {
  color: rgba(245, 254, 255, 0.6);
  transition: 0.7s;
}
nav .menu-btn__burger,
nav .menu-btn {
  display: none;
}
nav .menu-btn__burger {
  color: #333;
}
nav .btn-container {
  display: none;
}
nav .btn-container-open {
  display: flex;
  position: absolute;
  top: 50px;
  right: -15px;
  flex-direction: column;
  margin-left: 15px;
  transition: 0.5s;
}
.menu-btn__burger {
  width: 30px;
  height: 5px;
  background: #333;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background: #333;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-45px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.main {
  display: block;
  margin: 0 2rem;
  width: 95vw;
  margin: 0 auto;
  padding: 115px 0 10px;
}
.product img {
  width: 200px;
}
.brana {
  display: flex;
  position: relative;
  margin-left: -2.65%;
  margin-top: -4px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brana img {
  display: block;
  position: relative;
  width: 100vw;
}
.homepage {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 1.5vw;
  background-color: rgba(245, 254, 255, 0.6);
  box-shadow: 0 5px 15px rgba(99, 176, 184, 1);
  border: 5px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 60%;
  height: 60%;
  padding: 25px 25px;
  text-align: center;
  align-items: center;
}
.center {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
iframe {
  height: 400px;
  margin: 0;
  width: 80%;
}
h1,
h2,
h3 {
  text-align: center;
}

.homepage h1 {
  margin: 0;
  margin-top: 10px;
}

.homepage h3 {
  font-weight: normal;
}

section.oils {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 0;
}
section .oil {
  margin: 20px;
  max-width: fit-content;
}
section .oil img {
  height: 350px;
  display: block;
}

section .oil h3 {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  background-color: rgba(99, 176, 184, 1);
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem;
}
section h3.description {
  margin: 0;
  margin-top: 35px;
}
.homepage button {
  display: inline-block;
  padding: 15px 25px;
  color: var(--black);
  font-size: 1rem;
  font-weight: 800;
  background: linear-gradient(
    96deg,
    rgba(6, 87, 96, 1) 0%,
    rgba(99, 176, 184, 1) 35%,
    rgba(141, 243, 254, 1) 100%
  );
  background-color: rgba(6, 87, 96, 1);
  border: 5px solid rgba(141, 243, 254, 1);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.homepage button:hover {
  background-color: var(--blue);
  background: linear-gradient(
    166deg,
    rgba(6, 87, 96, 1) 0%,
    rgba(99, 176, 184, 1) 47%,
    rgba(141, 243, 254, 1) 100%
  );
  color: var(--white);
  border: 5px solid rgba(99, 176, 184, 1);
}

.gallery h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  flex: 1 1 calc(33.33333% - 30px);
  box-sizing: border-box;
  max-width: 300px;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.modal {
  display: block;
  position: fixed;
  align-content: center;
  z-index: 1;
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 550px;
  border: 5px solid var(--blue);
}

.close {
  position: relative;
  bottom: 10px;
  left: 90%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.products {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.product {
  background-color: var(--blue);
  color: white;
  padding: 1.5rem;
  width: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 1rem;
  text-align: center;
}
.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contact-info {
  align-self: center;
  margin: 10px;
  width: 100%;
  max-width: 400px;
}
.contact-info p {
  font-size: 1.1rem;
}
.contact-info span {
  display: block;
  margin-bottom: 10px;
  margin: 5px 0;
}

.contact-info span {
  display: block;
  margin-bottom: 10px;
  margin: 5px 0;
}
.info {
  display: ruby;
}
span svg {
  margin-right: 10px;
}
.footer {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 600;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1231px) {
  section .oil img {
    height: 300px;
  }
}
@media screen and (max-width: 1073px) {
  section .oil img {
    height: 250px;
  }
}
@media screen and (max-width: 992px) {
  nav .menu-btn__burger {
    display: flex;
    cursor: pointer;
  }
  nav .menu-btn {
    position: absolute;
    right: 10px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
  }
  nav img {
    display: flex;
    transform: translate(0%, 25%);
  }
  nav ul {
    width: 100%;
    flex-direction: column;
    height: 0;
    padding: 0;
    top: -300px;
    opacity: 0;
    transition: 0.7s;
  }
  nav ul li {
    display: flex;
    color: #777;
    font-size: 2.5vh;
  }
  nav ul li a {
    margin: 0.3rem 1rem;
  }
  nav ul.active {
    opacity: 1;
    height: 100vh;
    width: 100%;
    top: -49px;
    transition: 0.7s;
  }
  nav span {
    margin: 0 15px;
  }
  nav .btn-container-open {
    top: auto;
    right: auto;
    margin: 15px -15px;
  }
  nav .fa-globe {
    margin-top: 20px;
    margin-left: 0;
  }
  span.language a {
    display: flex;
    color: var(--black);
    font-size: 1.6rem;
    margin: 0;
    margin-top: 80px;
    text-decoration: none;
    font-weight: bold;
  }
  .homepage {
    position: relative;
    width: 80vw;
    font-size: 1.8vw;
    margin: 20px;
    justify-content: center;
  }
  .homepage h1 {
    margin-top: 0;
  }
  .homepage button {
    font-size: 0.9rem;
  }
  .btn-container {
    margin-top: 10vh;
    margin-left: 0;
  }
  .contact-form-container {
    width: 80vw;
  }
  .contact-container {
    align-items: center;
    flex-direction: column;
  }
  .contact-info {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .row .column {
    flex: 100%;
  }
  .gallery-item {
    flex-basis: calc(50% - 30px);
  }
  .homepage button {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 584px) {
  .homepage h1 {
    font-size: 6vw;
  }
  .homepage h3 {
    font-size: 3.5vw;
  }
  .homepage {
    align-content: center;
  }
}
@media screen and (max-width: 584px) {
  .error_page section {
    width: 85% !important;
  }
  .error_page section p {
    font-size: 1.5em !important;
  }
  .error_page section h3 {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 279px) {
  body {
    padding-bottom: 203px;
  }
}
